*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variaveis */
:root{
    --fundo-escuro: #000;
    --fundo-card: #1d2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434F;
    --primario: #70b5f9;
    --positivo: #3ec786;
    --color-white: #fff;
  }

body{
    background-color: var(--fundo-escuro);
}

/* Cabeçalho */
header{
    display: flex;
    gap: 120px;
    position: relative;
    width: 100%;
    height: 76px;
    background-color: var(--texto-escuro);
    margin: auto;
}


.logo{
    display: flex;
    gap: 50px;
 }
 
 /* logotipo da linkedIn */

 .in{
     margin-left: 10%;
     padding: 30px 0;
 }

 /* container de input de pesquisa e label */
 .div1{
     display: flex;
     background-color: #fff;  
     width: 350px; 
     height: 30px; 
     border-radius: 10px;
     margin-top: 7%;
 }

 /* input de pesquisa */
 input{
    position: relative;
    width: 370px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    margin-left: 8%;
    border-radius: 10px;
    height: 30px;
    color: #000;
} 

/* lupa de pesqquisa */
label{
    position: absolute; 
    top: 48%; 
    margin-left: .2%;
   
}

/* Menu principal */

.navbar ul{
    list-style-type: none;
    padding: 10px 0;
    
}

ul li{
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 8px;
    
}
li a{
    text-decoration: none;
    color: var(--texto-secundario);
    text-align: center;
    transition: all .4s ease;
}

li a:hover{
    color: var(--color-white);
}

.span{
    margin-left: 5%;
    transition: all .5s ease-in-out;  
}

.span img:hover{
    color: #00f;
}
/* Icone do navbar */
#img{
    margin-left: 25%;
    transition: .5s ease-in;
}

#img:hover{
    background-color: var(--color-white);
}

.menu-bar{
    padding: 28px 0;
    margin-right: 2%;
    border-left: 2px solid var(--positivo);
}


.span1{
    margin-left: 88%;
    margin-bottom: 2%;
    transition: .5s ease-in;
}


.span1:hover{
    background-color: var(--color-white);
}

.menu-bar a{
    color: var(--texto-secundario);
    text-decoration: none;
}

.menu-bar a:hover{
    color: var(--color-white);
}

/* informação principal */
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px; 
    width: 740px;
    height: 540px;
    
}
/* primeira secção */
.profile-info{
    position: absolute;
    width: 740px;
    height: 440px;
    top: 96px;
    margin-left: 5%; 
    border-radius: 10px;
    background-color:var(--fundo-card);
}

.profile-info:hover{
    border: 3px solid var(--primario);
}
/* imagem de capa */
.capa{
    width: 740px;
    height: 190px;
    background-image: url('images-vscode1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}


.perfil{
    display: flex;
    gap: 44px;
}
/* foto de perfil */
.img{
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 3%;
}
/* tooltip text */
.tooltip{
    position: relative;
    display: inline-block;
    border: 1px dotted var(--primario);
}

.tooltip-text{
  position: absolute;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* texto do lado esquerdo */
span{
    position: absolute;
    bottom: 3%;
    left: 5%;
}

h3{
    color: var(--color-white);
    font-size: 1.5rem;
}

p{
    color: var(--texto-principal);
    border-right: 1px solid var(--input);
    font-size: 1rem;
    line-height: 1.2rem;
}

/* lado direido da primeira secção */
.right-side{
   position: absolute;
   bottom: 10%;
   left:53%;
   h4{
    color: var(--primario);
    font-size: 1.4rem;
    line-height: 2rem;
   }
}

.right-side:hover{
    border: 3px solid var(--primario); 
    padding: 6px;
   }

   /* botões de acção */

.btn2{
    margin-right: 4%;
    background-color: var(--primario);
    padding: 5px;
    left: 2%;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--fundo-escuro);
    transition: all .5s ease-in;
}

.btn2:hover{
    background-color: var(--input);
    color: var(--positivo);
}

button{
    border-radius: 12px;
    padding: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primario);
    background-color: var(--fundo-escuro);
    transition: .5s ease;
}

button:hover{
    background-color: var(--positivo);
    color: var(--color-white);
}
 /* Secção de aside */
.direito{
    position: absolute;
    right: 5%;
    top: 110px;
    width: 300px;
    height: auto;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--fundo-card);  
}

.direito:hover{
    border: 2px solid var(--primario);
}
/* Seguidores */
.pessoas{
    display: flex;
    gap: 12px;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    .nome{
        color: var(--color-white);
        font-size: 1.1rem;
    }

    /* Botão conectar dos seguidores */
    .conectar{
        background-color: var(--fundo-card);
        width: 80%;
        border: 2px solid var(--color-white);
        border-radius: 15px;
        transition: all .5s ease-in;
    }
    .conectar:hover{
        background-color: var(--positivo);
    }
}

.direito1{
    position: absolute;
    right: 5%;
    top: 720px;
    width: 300px;
    height: auto;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--fundo-card); 
}

.direito1:hover{
    border: 3px solid var(--primario);
} 

/* Segunda secção dos cards */
.section2{
    position: absolute;
    margin-left: 5%;
    width: 740px; 
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--fundo-card);
}

.section2:hover{
    border: 3px solid var(--primario);
}
/* secção dos cards */
.sect-cards{
    display: flex;
    gap: 20px;
    margin-left: 6%;
    margin-top: 2%;
}


/* Os Cards */
.card{
    width: 200px;
    height: 220px;
    transition: all .5s ease-in;
}

.card1{
    background-image: url("card1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left right;
}
.card2{
    background-image: url("card2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left right;
}
.card3{
    background-image: url("card3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left right;
}

/* Terceira secção actividades */
.section3{
    position: absolute;
    margin-left: 5%;
    top: 990px;
    width: 740px; 
    height: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--fundo-card);
}

.section3:hover{
    border: 3px solid var(--primario);
}

.activ{
    margin: 2%;
    display: flex;
    gap: 17px;
    margin-bottom: 4%;
}

.image1{
    width: 160px;
    height: 60px;
    background-image: url(card2.jpg);
}
.image2{
    width: 160px;
    height: 60px;
    background-image: url(card3.jpg);
}
